@model AllProductsViewModel
@{
    ViewData["Title"] = "Barcha muzqaymoqlar";
   
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcumb-hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Muzqaymoqlar</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <form asp-controller="home" asp-action="cart" method="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Xaridlar</h4>
                            <button type="submit" class="btn btn-primary w-100">Yuborish</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="section-title product__discount__title">
                        <h2>Mahsulotlar</h2>
                    </div>
                    <div class="row">
                        @for (int i = 0; i < Model.Products.Count(); i++)
                        {

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/img/product/@Model.Products.ToArray()[i].ImageUrl">
                                        <ul class="product__item__pic__hover">
                                            <li><a asp-controller="home" asp-action="details" asp-route-Id="@Model.Products.ToArray()[i].Id">Batafsil <i class="fas fa-long-arrow-alt-right"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h5 class="mb-3">@Model.Products.ToArray()[i].Name</h5>
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="number" asp-for="@Model.CountOfProduct[i]" placeholder="Donasi" min="0" max="@(Model.Products.ToArray()[i].NumberOfBoxes * Model.Products.ToArray()[i].NumberOfBox)" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- Product Section End -->
