@{          
    ViewData["Title"] = "Muvaffaqqiyatli";
}


            <div class="accept-root">
                <img src="/img/hero/confirm.png" alt="accept"/>
                <p>Xaridingiz uchun rahmat.</p>
                <h4>Buyurtmangiz muvaffaqqiyatli yuborildi !</h4>
                <p class="mt-2">
                    Keyingi xaridlarni amalga oshirish uchun bosh sahifaga o'ting. 
                </p>
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Bosh sahifaga</a>
            </div>

